body{
    /* text-align: center; */
}

.nav{
    display: flex;
    align-items: center;
    background: red !important;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid black;
}

/* .filmBlock{
    display: flex;
    flex-direction: column;
}

.filmContainer{
    display: flex;
    
} */

