	/* :root{
	--nom:;
} */
* {
    box-sizing: border-box;
}
.beforNav {
    width: 100%;
    text-align: center;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
  }

.nav {
    display: block;
    height: 80px;
    width: 100%;
    background: black;
    z-index: 1000;
}

.nav a {
    font-family: system-ui;
    font-size: 22px;
    margin: auto;
    color: gold;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
.block {
    width: 100px;
    z-index: 1500;
    background: gray;
}


