{% extends "base.html.twig" %}
{% block title %}Listing films
{% endblock %}
{% block body %}
	<div>Liste des films disponibles :</div>
	{% if films|length == 0 %}
		Il n'y a pas de film disponible pour le moment.
	{% endif %}
	<ul>
		{% for film in films %}
			<li>
				<a href="">
					{{ film.title }}
				</a>
				de
				{{ film.realisateur }}, genre :
				{{ film.genre }}.
			</li>
		{% endfor %}
	</li>
</ul>{% endblock %}
