<!DOCTYPE html>
<style>
	* {
		margin: 0;
		padding: 0;
	}
</style>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>

	<body>
		{% include 'navBarre.html.twig' %}
		{% block body %}{% endblock %}
	</body>
</html>
