<!DOCTYPE html>
<style>
	* {
		margin: 0;
		padding: 0;
	}
</style>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/navBarre.css') }}">
		<link rel="stylesheet" type="text/css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}

		</head>

		<body>
			{% include 'navBarre.html.twig' %}
			{% block body %}{% endblock %}
		</body>
	</html>
